h1 {
    background-color: #6DC5D1;
    text-align: center;
}

#adobo {
    background-color: #FDE49E;
    color: black;
}

#tinola {
    background-color: #FEB941;
}

#sinigang {
    background-color: #DD761C;
}