.Fili {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.adobo {
    color: orange;
    background-color: blue;
}

.sinigang {
    color: yellow;
    background-color: purple;
}

.tinola {
    color: green;
    background-color: red;
}